<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN” “http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html xmlns=”http://www.w3.org/1999/xhtml&#8221; xml:lang=”pl” lang=”pl”>
	<head>
	<!--meta tagi-->
		<title>Łukasz Czepielik 2TI2 - Kosmos</title>
			<meta name="Keywords" content="HTML,ćwiczenia, zadania HTML, zaawansowane"/>
			<meta name="Description" content="Moje arcydzieło - Kosmosie - jestem coraz bliżej!"/>
			<meta http-equiv="Content-Language" content="pl"/>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
			<meta name="Author" content="Łukasz Czepielik"/>
	</head>
	<!--menu strony-->
	<body bgcolor="black" background="images\gwiazdy_animowane.gif" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<audio autoplay loop>
		<source src="muzyczka\pro1.mp3" type="audio/mp3">
	</audio>
		<table cellpadding="10px" align="center" border="0">
			<tr align="center">
				<td width="60"><img src="images\gwiazdka.gif"></td>
				<td width="150"><a href="index.html"><font color="orange">Strona główna</font></a></td>
				<td width="60"><img src="images\gwiazdka2.gif"></td>
				<td width="150"><a href="swf.html"><font color="green">Animacja SWF</font></td>
				<td width="60"><img src="images\gwiazdka3.gif"></td>
				<td width="150"><a href="png.html"><font color="green">Pliki PNG</font></td>
				<td width="60"><img src="images\gwiazdka4.gif"></td>
				<td width="150"><a href="svg.html"><font color="green">Pliki SVG</font></td>
				<td width="60"><img src="images\gwiazdka5.gif"></td>
				<td width="150"><a href="avi.html"><font color="green">Pliki AVI</font></td>
			</tr>
		</table>
		<!--nagłówiek i tabela z treścią-->
	<h1 align="center"><font face="Comic Sans MS" color="white">Animacja niektórych planet</font></h1>
		<table cellpadding="10" width="80%" align="center">
			<tr>
				<td align="justify"><font face="Verdana" size="4" color="white">Układ Słoneczny – układ planetarny składający się ze Słońca i powiązanych z nim grawitacyjnie ciał niebieskich.Ciała te to osiem planet, ponad 160 znanych księżyców planet, pięć znanych (a prawdopodobnie kilkadziesiąt) planet karłowatych i miliardy (a być może nawet biliony) małych ciałUkładu Słonecznego, do których zalicza się planetoidy, komety, meteoroidy i pył międzyplanetarny.</font></td>
			</tr>
			</tr>
				<td align="justify"><font face="Verdana" size="4" color="white">Zbadane regiony Układu Słonecznego zawierają, licząc od Słońca: cztery planety skaliste (Merkury, Wenus, Ziemia, Mars),pas planetoid składający się z małych skalistych ciał, cztery zewnętrzne gazowe olbrzymy (Jowisz, Saturn, Uran, Neptun) oraz drugi pas – pas Kuipera, składający się z obiektów skalno-lodowych. Za pasem Kuipera znajduje się dysk rozproszony, dużo dalej heliopauza i w końcu hipotetyczny obłok Oorta. Odkryto także co najmniej pięć planet karłowatych: Ceres (największy obiekt w pasie planetoid),Pluton (do 24 sierpnia 2006 roku uznawany za 9. planetę Układu), Haumea, Makemake (drugi co do wielkości obiekt w pasie Kuipera) i Eris (największy znany obiekt w dysku rozproszonym).</font></td>
			</tr>
		</table>
		<!--tabela z animacjami-->
		<table align="center" valign="middle" border="0">
			<tr>
				<td><img src="images\slonce_animacja.gif"></td>
				<td><img src="images\venus_animacja.gif"></td>
				<td><img src="images\ziemia_animacja.gif"></td>
				<td><img src="images\mars_animacja.gif"></td>
				<td><img src="images\jowisz_animacja.gif"></td>
				<td><img src="images\neptun_animacja.gif"></td>
				<td><img src="images\pluton_animacja.gif"></td>
			</tr>
		</table>
		<!--nagłówek-->
	<h1 align="center"><font face="Comic Sans MS" color="white">Mapa układu słonecznego</font></h1>
	<!--wklejam mape obrazkową-->
	<map id="imgmap20131023183658" name="imgmap20131023183658">
		<area shape="poly" alt="" title="Słońce" coords="6,70,60,125,92,178,107,215,113,294,108,337,98,373,92,383,0,382,0,66,2,67" href="slonce.html" target="" />
		<area shape="circle" alt="" title="Merkury" coords="146,313,10" href="merkury.html" target="" />
		<area shape="circle" alt="" title="Wenus" coords="182,306,12" href="venus.html" target="" />
		<area shape="circle" alt="" title="Ziemia" coords="219,318,14" href="ziemia.html" target="" />
		<area shape="circle" alt="" title="Mars" coords="263,291,9" href="mars.html" target="" />
		<area shape="circle" alt="" title="Jowisz" coords="370,259,61" href="jowisz.html" target="" />
		<area shape="circle" alt="" title="Saturn" coords="554,243,54" href="saturn.html" target="" />
		<area shape="circle" alt="" title="Uran" coords="743,247,38" href="uran.html" target="" />
		<area shape="circle" alt="" title="Neptun" coords="853,222,36" href="neptun.html" target="" />
		<area shape="circle" alt="" title="Pluton" coords="964,198,4" href="pluton.html" target="" />
	<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) --></map>	
	<img src="images\SolarSystem_1024.jpg" alt="" usemap="imgmap20131023183658" id="imgmap20131023183658"/>
	<br></br>
	<!--wstawiam przycisk "lubię to!"-->
	<iframe 
	src="http://www.facebook.com/plugins/like.php?href=https://pl-pl.facebook.com/pages/ZSEEiM-w-Bielsku-Bia%C5%82ej/115161961830925
		&layout=standard&show_faces=true& width=450&action=like&colorscheme=light&height=80"
		scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px;
		height:80px;" allowTransparency="true"></iframe>
	<!--podpisuje autora strony-->
	<center><footer><font color="white"><b>Autor : Łukasz Czepielik</b></font></footer></center>
	</body>
</html>		